body {
  background-color: #FBF9F9;
  margin-left: 35px;
  margin-right: 35px;
}

.home-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

}

.influencer-container {
  width: 35%;
  border-right-style: dashed;
  border-right: 1px solid #e8e5e5;
  height: 100vh;
}

.starred-containter {
  width: 65%;

}

.suggested-influencer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}

.profile-photo {
  border-radius: 50px;
  width: 65px;
}

.starred-influencer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  margin-left: 15px;
  border-left: none;
  border-style: dashed;
  border: 1px solid #e8e5e5;

  }

.symbol {
  margin-right: 20px;
  a {
    color: #BDBCBC;
    text-decoration: none;
    font-size: 26px;
    margin-left: 15px;


  }
}
h3, h1 {
  color: #2B2929;
}
p {
  color: #989595;
  font-weight: lighter;
}

.line {
  line-height: 0.5;
  text-align: center;
  vertical-align: center;
  height: 60px;
  margin-left: 25px;
}

.inner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-el {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
